<html>
<head>
<title>Almanac </title>
<link rel="stylesheet" type="text/css" href="/site_media/global.css" />
<link rel="stylesheet" type="text/css" href="/site_media/layout.css" />
{% block head %}
{% endblock %}
</head>
<body >
<div id="content">
	<h1 > Almanac{% block subtitle %} {% endblock %}</h1>

	<div id="header">
	Navigate: <a href="/event/">Home</a>
	{% block navigate %}
	
	{% endblock %}
	
	</div>
	
	<div >
	{% block body %}
	Nothing here!
	{% endblock %}
	</div>
	
	</div>
</body>
</html>
