<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
<title>Almanac </title>
<link rel="stylesheet" type="text/css" href="/site_media/css/global.css" />
<link rel="stylesheet" type="text/css" href="/site_media/css/layout.css" />
<link rel="stylesheet" type="text/css" href="/site_media/css/net_almanac.css" />
{% block head %}
{% endblock %}
</head>

{% block body_tag %}<body> {% endblock %}
<div id="container">
	<h1 > <a href="/net_almanac/event/">Almanac</a>{% block subtitle %} {% endblock %}</h1>

	<div id="header">
		Navigate: <a href="/net_almanac/event/">Home</a>
		{% block navigate %}
		
		{% endblock %}
	</div>
	
	<div id="columncontainer">
	
	
		<div class="col1">
		{% block body %}
		Nothing here!
		{% endblock %}
		
		</div>
		<div class="col2">
		<h4>Management Options:</h4>
		<hr />
		<a href="/net_almanac/event/">Go to Top</a>
    	<hr />
    	<a href="/net_almanac/event/filter/">Filter events</a>
    	<hr />
		{% block side_options %}
		{% endblock %}
		</div>

		
	</div>
</div>
<div id="footer">
<p class="tiny">
<a href="http://www.energy.gov/">U.S. Department of Energy</a> -
<a href="http://www.es.net/">ESNet</a> -
<a href="http://www.lbl.gov/">LBNL</a> -
<a href="/net_almanac/about/">About</a>



</p>
</div>
</body>
</html>
