<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>Almanac </title>
<link rel="stylesheet" type="text/css" href="/site_media/css/global.css" />
<link rel="stylesheet" type="text/css" href="/site_media/css/layout.css" />
<link rel="stylesheet" type="text/css" href="/site_media/css/net_almanac.css" />
{% block head %}
{% endblock %}
</head>
<body>
<div id="container">
	<h1 > <a href="/net_almanac/">Almanac</a>{% block subtitle %} {% endblock %}</h1>

	<div id="header">
		Navigate: <a href="/net_almanac/">Home</a>
		{% block navigate %}
		
		{% endblock %}
	</div>
	
	<div id="columncontainer">
	
	
		<div class="col1">
		{% block body %}
		Nothing here!
		{% endblock %}
		
		</div>
		<div class="col2">
		{% block side_options %}
		{% endblock %}
		</div>

		
	</div>
</div>
</body>
</html>
