[config]
mypkgs = almanac
eggs = 

[buildout]
develop = .
parts = python django extras
eggs = ipython

[extras]
recipe = iw.recipe.subversion
urls =
    http://django-tagging.googlecode.com/svn/trunk/ django-tagging
    

# seems like django_extensions has moved from google svn to
# github git. Below may be basis for a rule for future after v0.4
#
#[django-extensions]
#recipe=zerokspot.recipe.git
#repository=git://github.com/django-extensions/django-extensions.git
#rev=c99a84fa1b6b78ed3760211f133da990bd8f4761

[django]
recipe = djangorecipe
version = 1.0
settings = settings
eggs =
    ${buildout:eggs}
project = almanac
wsgi = true
control-script = manage.py
pythonpath = ${buildout:directory}/apps
extra-paths =
    ${buildout:directory}/almanac
    ${extras:location}/django-tagging/

[python]
recipe = zc.recipe.egg
interpreter = python
eggs =
    ${config:mypkgs}
    ${config:eggs}
extra-paths = parts/django
