hr { 
height: 1px; 
margin: 7px 0px; 
background-color: #AAA;
}

/* added by me */
#columncontainer {
margin:0;
min-width:760px;
}

#columncontainer .col1 {
float:left;
width:75%;
height:80%;
background-color:#F9F9FF;
padding:5px 5px;
}

#columncontainer .col2 {
float:left;
width:20%;
margin:5px;
margin-left:10px;
background-color:#F6FCFE;
height:80%;
padding:5px 5px;
border: 2px solid #6196B0; 
}