{% extends "base.html" %}

{% block subtitle %} : Event List {% endblock %}

{% block body %}
{% if object_list %}

<table bgcolor="black">
    <tr bgcolor="yellow">
        <td>id</td>
        <td>name</td>
        <td>description</td>
        <td>begin time</td>
        <td>end time</td>
        <td>url</td>
        <td>router</td>
        <td>iface</td>
        <td>tags</td>
    </tr>
    {% for event in object_list %}
    <tr bgcolor="white">
        <td>{{event.id}}</td>
        <td>
        	<a href="/event/{{event.id}}">{{event.name}}</a>
        </td>
        <td>{{event.description}}</td>
        <td>{{event.begin_time}}</td>
        <td>{{event.end_time}}</td>
        <td>{{event.url}}</td>
        <td>{{event.router}}</td>
        <td>{{event.iface}}</td>
        <td>
        
        {% for tag in event.tags %}
        	<a href="/event/tag/{{tag.id}}">{{tag.name}}</a>, &nbsp;
        {% endfor %}
        
        </td>
    </tr>
    {% endfor %}
</table>
    
    
    <a href="/event/tag"> View all tags</a> <br/>
    
    <a href="/event/create"> Make new Object</a> <br/>
    
    
{% else %}
    <p>No Events are available.</p>
{% endif %}


{% endblock %}