{% extends "base.html" %}

{% block subtitle %} : Event Detail {% endblock %}

{% block navigate %} : <a href="/event/{{event.id}}/">{{event.name}}</a> {% endblock %}

{% block body %}
<table bgcolor="black">
    <tr bgcolor="yellow">
        <td>id</td>
        <td>name</td>
        <td>description</td>
        <td>begin time</td>
        <td>end time</td>
        <td>url</td>
        <td>router</td>
        <td>iface</td>
        <td>tags</td>
    </tr>

    <tr bgcolor="white">
        <td>{{event.id}}</td>
        <td>{{event.name}}</td>
        <td>{{event.description}}</td>
        <td>{{event.begin_datetime}}</td>
        <td>{{event.end_datetime}}</td>
        <td>{{event.url}}</td>
        <td>{{event.router}}</td>
        <td>{{event.iface}}</td>
        <td>
        {% if tags %}
        <ul>
        	{% for tag in tags %}
        		<li><a href="/event/tag/{{tag.id}}/">{{tag.name}}</a></li>
        	{% endfor %}
        </ul>
        {% else %}
        	None
        {% endif %}
        </td>
    </tr>
    
</table>

<a href="/event/{{event.id}}/update/">Update this event</a> <br />

<a href="/event/{{event.id}}/delete/">Delete this event</a> <br />
{% endblock %}