{% extends "base.html" %}

{% block subtitle %} : Event Detail {% endblock %}

{% block navigate %} : <a href="/net_almanac/{{event.id}}/">{{event.name}}</a> {% endblock %}

{% block body %}
<table >
    <tr>
        <th>id</th>
        <th>name</th>
        <th>description</th>
        <th>begin time</th>
        <th>end time</th>
        <th>url</th>
        <th>router</th>
        <th>iface</th>
        <th>tags</th>
    </tr>

    <tr>
        <td>{{event.id}}</td>
        <td>{{event.name}}</td>
        <td>{{event.description}}</td>
        <td>{{event.begin_datetime}}</td>
        <td>{{event.end_datetime}}</td>
        <td>{{event.url}}</td>
        <td>{{event.router}}</td>
        <td>{{event.iface}}</td>
        <td>
        {% if tags %}
        <ul>
        	{% for tag in tags %}
        		<li><a href="/net_almanac/tag/{{tag.name}}/">{{tag.name}}</a></li>
        	{% endfor %}
        </ul>
        {% else %}
        	None
        {% endif %}
        </td>
    </tr>
    
</table>


{% endblock %}

{% block side_options %}
<hr />
<a href="/net_almanac/{{event.id}}/update/">Update this event</a>
<hr />
<a href="/net_almanac/{{event.id}}/delete/">Delete this event</a>
<hr />
{% endblock %}