{% extends "base.html" %}

{% block subtitle %}{% endblock %}

{% block head %}
{% endblock %}



{% block navigate %}{% endblock %}


{% block body %} 
<h3>Welcome to Almanac! </h3><hr/>
There are currently {{num_events}} events in the database. <br /> <br />
You can view the events in either <a href="/net_almanac/event/">a table</a> or <a href="/net_almanac/event/timeline/">a timeline</a>. <br /> <br />

Use a custom <a href="/net_almanac/event/filter/">filter</a> to search the events.
<hr />
There are currently <a href="/net_almanac/event/tag/">{{num_tags}} tags</a> in the database, and {{num_unused_tags}} are unused.  There are {{num_tagged_item}} tag associations. 
<hr />
{% endblock %}

{% block side_options %}
<a href="/net_almanac/event/tag/"> View all tags</a> 
    <hr />
<a href='/net_almanac/event/create/' class="addlink">Create new event</a>
    <hr />
{% endblock %}

