{% extends "base.html" %}
{# This is the parent of event_create.html and event_update.html #}

{% block head %}
{{ form.media }}
{% endblock %}


{% block body %} 
<form action="" method="post">
	<table>
		{{ form_table }}
	</table>
	
	<br />
	<br />
	
	<input type="submit" value="Submit" />
</form>
<br />
Please use YYYY-MM-DD format for the date. <br />
Please use [HH:MM[:ss[.uuuuuu]]] for the time. <br />
<h6><a target = 'blank' href="http://www.tarrget.info/calendar/scw.htm">
 Simple Calendar Widget by Anthony Garrett
</a></h6>
{% endblock %}

{% block side_options %}
<hr />
<a href="/net_almanac/tag/" target="blank">See currently used tags</a> 
<hr />
Data: {{ form.data }} 
<hr />
Errors: {{ error }} 
<hr />

{% endblock %}