{% extends "base.html" %}

{% block subtitle %} : Event Detail {% endblock %}

{% block navigate %} : <a href="/event/{{object.id}}"> {{object.name}} </a> {% endblock %}

{% block body %}
<table bgcolor="black">
    <tr bgcolor="yellow">
        <td>id</td>
        <td>name</td>
        <td>description</td>
        <td>begin time</td>
        <td>end time</td>
        <td>url</td>
        <td>router</td>
        <td>iface</td>
        <td>tags</td>
    </tr>

    <tr bgcolor="white">
        <td>{{object.id}}</td>
        <td>{{object.name}}</td>
        <td>{{object.description}}</td>
        <td>{{object.begin_time}}</td>
        <td>{{object.end_time}}</td>
        <td>{{object.url}}</td>
        <td>{{object.router}}</td>
        <td>{{object.iface}}</td>
        <td>{{object.tags}}</td>
    </tr>
    
</table>

<a href="/event/{{object.id}}/update">Update this event</a> <br />

<a href="/event/{{object.id}}/delete">Delete this event</a> <br />
{% endblock %}