{% extends "base.html" %}

{% block subtitle %} : Tag List {% endblock %}

{% block navigate %} : <a href="/event/tag/">Tags</a> {% endblock %}


{% block head %}
<script language="javascript" type="text/javascript">
function confirm_clean()
{
confirm ("Are you sure you want to delete all unused tags?");
}
</script>
{% endblock %}

{% block body %} 

{% if tag_list %}
	Tag list:
	<ul>
	{% for tag in tag_list %}
		<li><a href="/event/tag/{{tag.id}}/">{{tag.name}}</a></li>
	{% endfor %}
	</ul>
{% else %}
		No tags found.
{% endif %}



{% endblock %}

{% block side_options %}
<hr />
<form action="/event/tag/clean/" method="post">
<input type="submit" onclick="return confirm_clean()" value="Clean Unused Tags" />
</form>
<hr />
{% endblock %}